body {
	background-color: #036e73;
	font-family:"Arial", sans-serif;
}

div {
	border-style: groove;
	border-radius: 25px;
	background: white;
}

img {
	border-style; groove;
	border-radius: 25px;
}

h1, h2, h3 {
}

#links {
	text-align: center;
}