body {
	background-color: #036e73;
	font-family:"Arial", sans-serif;
}

div {
	border-style: groove;
	border-radius: 25px;
	background: white;
}

h2 {
	font-size: .9em;
}

img {
	border-style: groove;
	border-radius: 180px;
	float: right;
}

#name_and_job {
	text-align: center;
	padding: 5px;
	float: left;
}

#links {
	text-align: center;
	float: right;
}